/* Optional styling */
table {
    border: 1px solid black;
}
input {
    width: 50px; /* Adjust as needed */
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f5f5f5;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

/* Buttons styling */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin-right: 10px;
}
button:hover {
    background-color: #0056b3;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#downloadCSV {
    width: 100%; /* Make the download button occupy full width */
    margin-top: 10px;
}