body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: teal;
}

header {
  position: fixed;
  background-color: rgb(107, 17, 107);
  color: white;
  padding: 10px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1; /* Ensure it's above other content */
}

header h1 {
  margin: 0;
  font-size: 24px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: teal;
    position: relative;
    top: 80px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: teal;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  
  /** Testing**/
  table {
    border: 1px solid #999;
    border-collapse: collapse;
    width: 100%
  }
  td {
    border: 1px solid #999
  }

  /* style.css */
#addRowButton {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  z-index: 1;
}

#addRowButton:hover {
  background-color: #45a049;
}


/* style.css */
#addRowButton {
    position: fixed;
    top: 70px;
    background-color: #d96900;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    z-index: 1;
}

#addRowButton {
    left: 10px;
}


#addRowButton:hover{
    background-color: #005689;
}

/* style.css */
#clearButton {
  position: fixed;
  top: 70px;
  right: 20px;
  background-color: #FF5733; /* Red */
  color: #FFFF99; /* Yellow */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  z-index: 1;
}

#clearButton:hover {
  background-color: #E64D00; /* Darker red on hover */
}




  
  @media only screen and (max-width: 768px) {
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      color: white;
      font-weight: bold;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 10px;
      font-size: 30px;
      
     
    }
    input {
      height: 30px;
      width: 100%;
      border-radius: 5%;
      font-size: 20px;
      background-color: teal;
      font-weight: bolder;
      color: red;
    }
    
    tr:nth-child(even) {
      background-color: #98e9ce;
    }
  }